@media (max-width: 1200px)
	.container
		max-width: 960px
	.slider
		width: 590px
@media (max-width: 992px)
	.logo
		max-width: 132px
		&__image
			width: 100%
	.container
		max-width: 700px
	.navbar
		&-top
			padding-top: 30px
			padding-bottom: 30px
		&__search
			margin-left: auto
		&-menu
			padding-top: 22px
			padding-bottom: 22px
			&__link
				font-size: 12px
				line-height: 15px
	.hotel
		&-info
			&__description
				font-size: 12px
		&-grid
			flex-direction: column
		&__slider
			margin-bottom: 30px
		&-right
			flex-direction: row
	.booking
		width: 340px
	.search
		&__input
			max-width: 340px			
	.slider
		width: 100%
	.map
		width: 340px

@media (max-width: 767px)
	.container
		max-width: 95%
		margin: auto
	.navbar
		&__search, &-menu, &__user
			display: none
	.menu
		&-button
			display: flex
			width: 16px
			height: 11px
			padding: 0
			align-items: center
			justify-content: space-between
			flex-direction: column
			border: none
			background-color: #ffffff
			cursor: pointer
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.hotel
		padding-top: 0
		&-name
			flex-basis: 100%
		&-wrapper
			justify-content: space-between
		&-info
			&__text
				width: 100%
			&__name
				margin-top: 10px
				margin-bottom: 0
			&__rating
				display: none
			&__offer
				order: -1
				margin-left: 0 !important
				margin-top: 0
		&-right
			flex-direction: column
			min-height: 450px
	.booking
		width: 100%
		max-width: 100%
	.map
		width: 100%
	.hotel-grid
		width: 100%
	.stars
		flex-basis: 0 !important
		margin-right: 16px
		min-width: 48px
		&__img
			margin-right: 2px
	.slider
		height: 350px

@media (max-width: 576px)
	.logo
		max-width: 99px
		&__image
			width: 100%
	.container
		max-width: 95%
		// max-height: 70px
	.hotel
		&-info
			&__description
				font-size: 12px
		&-wrapper
			margin-top: 5px
		&__slider
			margin-bottom: 20px
	.slider
		height: 250px
@media (max-width: 320px)
	.container
		max-width: 280px
		margin: auto
	.navbar-top
			padding-top: 28px
			padding-bottom: 28px
	.logo
		height: 14px
	.hotel
		&-info
			&__name
				margin-top: 10px !important
			&__offer
				margin-top: 0
		&-wrapper
			align-items: center
	.slider
		height: 179px
		width: 279px
	.swiper-container
		height: 100%