@media (min-width: 1201px)
	.hotel
		margin-bottom: 70px
	.reviews
		margin-bottom: 70px
	.footer
		padding-top: 105px
		&-wrapper
			grid-template-columns: 1fr 1fr 319px 205px
		&__title
			margin: 0 0 30px 0
			&--mt-18
				margin-top: 18px
			&--mb-37
				margin-bottom: 37px
		&__social
			&-links
				margin-left: 40px
				margin-bottom: 25px
		&-paragraph
			margin-top: 0
			margin-bottom: 5px
		&__disclaimer
			// margin-right: 125px
	.modal
		&__dialog
			overflow-y: auto
@media (max-width: 1200px)
	.container
		max-width: 960px
	.hotel
		margin-bottom: 70px
	.slider
		width: 590px
	.card
		width: 230px
		height: 230px
	.footer
		&__input
			flex-basis: 100%
		&-wrapper
			grid-template-columns: 170px 170px 288px;
@media (max-width: 992px)
	.logo
		max-width: 132px
		&__image
			width: 100%
	.container,
	.newsletter-wrapper
		max-width: 700px
	.navbar
		&-top
			padding-top: 30px
			padding-bottom: 30px
		&__search
			margin-left: auto
		&-menu
			padding-top: 22px
			padding-bottom: 22px
			&__link
				font-size: 12px
				line-height: 15px
	.hotel
		margin-bottom: 60px
		&-info
			&__description
				font-size: 12px
		&-grid
			flex-direction: column
		&__slider
			margin-bottom: 30px
		&-right
			flex-direction: row
		&-slider
			width: 100%
	.booking
		width: 340px
	.search
		&__input
			max-width: 340px			
	.map
		width: 340px
		&__frame
			width: 100%
	.reviews
		margin-bottom: 50px
		&__title
			font-size: 30px
			margin-bottom: 50px
		&-slider
			&__item
				max-width: 580px
			&__text
				max-width: 455px
	.activities
		&-wrapper
			flex-wrap: wrap
		&__card
			margin-bottom: 20px
	.card
		width: 340px
		height: 250px
	.footer
		padding-top: 45px
		&-wrapper
			grid-template-columns: 162px 5px 260px 5px 200px
			grid-row-gap: 40px
		&__title
			&--inline
				margin: 0 43px 0 -15px
		&__input
			flex-basis: 47%
		&__logo
			width: 104px
			grid-row: 1 / 2
			grid-column: span 2
		&__social
			&-network
				grid-row: 1 / 2
				grid-column: span 4
				align-self: center
		&__categories
			grid-row: 2 / 3
			grid-column: 1
		&__legal
			grid-column: span 2
		&__additional
			grid-column: span 2
		&__contact
			&-details
				grid-column: span 5
				grid-row: 3
			&-form
				grid-column: span 5
				grid-row: 4
		&__disclaimer
			display: flex
			justify-content: space-between
			margin-left: 80px
			&-links
				width: 283px
				margin-right: 0
			&-image
				width: 136px
				height: 22px
				margin-right: 166px
		&-wrapper
			margin-bottom: 65px
		&-paragraph
			margin: 0
		&__social
			&-network
				margin-top: 30px
		&__title
			margin-bottom: 15px
			&--mb-37
				height: 37px
		&__contact
			&-details
				margin-top: 23px
			&-form
				margin-top: 22px
				width: 542px
		&__disclaimer
			margin-left: 56px
			&-image
				margin-right: 29px
		&__text
			font-size: 14px
@media (max-width: 767px)
	body
		padding-top: 78px
	.navbar
		&--mobile
			&--fixed
				position: fixed
				top: 0
				right: 0
				left: 0
				z-index: 99
		&__user, &__search
			&--mobile
				&--hidden
					display: none
				&--visible
					display: flex
		&__user
			flex-direction: column
			justify-content: center	
		&-bottom
			display: none
			position: fixed
			top: 70px
			right: 0
			left: 0
			bottom: 0
			padding-top: 30px
			&--visible
				display: block
		&-menu
			flex-direction: column
			&__item
				margin-bottom: 20px
				&--mobile
					&--visible
						display: block
	.container
		max-width: 95%
		margin: auto
	.menu
		&-button
			display: flex
			width: 16px
			height: 11px
			padding: 0
			align-items: center
			justify-content: space-between
			flex-direction: column
			border: none
			background-color: #ffffff
			cursor: pointer
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.user
		&__name
			padding: 0
			&--light
				color: $light
				margin-left: 0
				margin-top: 10px
	.hotel
		padding-top: 0
		&-name
			flex-basis: 100%
		&-wrapper
			justify-content: space-between
		&-info
			&__text
				width: 100%
			&__name
				margin-top: 10px
				margin-bottom: 0
			&__rating
				display: none
			&__offer
				order: -1
				margin-left: 0 !important
				margin-top: 0
		&-right
			flex-direction: column
			min-height: 450px
		&-slider
			height: 350px
	.booking
		width: 100%
		max-width: 100%
	.map
		width: 100%
	.hotel-grid
		width: 100%
	.stars
		flex-basis: 0 !important
		margin-right: 16px
		min-width: 48px
		&__img
			margin-right: 2px
	.newsletter
		&-wrapper
			max-width: 576px
			width: 95%
			flex-direction: column
			align-items: flex-start
	.reviews
		margin-bottom: 50px
		&__title
			font-size: 30px;
			line-height: 38px;
		&-slider
			&__item
				padding: 0 30px 30px
				&:after, &::before
					display: none
			&__profile
				margin-top: -45px
			&__button
				top: 30px
				&--prev
					left: 50%
					margin-left: -90px
					transform: translate(-50%, 0)
				&--next
					right: 50%
					margin-right: -90px
					transform: translate(50%, 0)
	.activities
		padding-top: 40px
		padding-bottom: 60px
	.card
		width: 49%
		height: 255px
	.footer
		padding-top: 69px
		&-wrapper
			grid-template-columns: repeat(6, 1fr)
		&__disclaimer
			display: flex
			justify-content: space-between
			margin-left: 10px
			&-links
				width: 283px
				margin-right: 10px
			&-image
				width: 136px
				margin-right: 135px
	.modal
		&-wrapper
			flex-direction: column
			align-items: flex-start
		&__button
			margin-bottom: 10px
		&__info
			display: block
@media (max-width: 576px)
	.logo
		max-width: 99px
		&__image
			width: 100%
	.container
		max-width: 95%
	.hotel
		&-info
			&__description
				font-size: 12px
		&-wrapper
			margin-top: 5px
		&__slider
			margin-bottom: 20px
			height: 250px
	.newsletter
		padding: 76px 0 83px 0
		&__title
			margin-bottom: 37px
	.subscribe
		width: 280px
		&__input
			min-width: 215px
		&__button
			min-width: 65px
	.card
		width: 49%
		height: 200px
		&__image
			height: 100%
	.footer
		&-wrapper
			grid-template-columns: 1fr
		&__logo, .logo-link
			grid-row: 1
			grid-column: 1
		&__social
			&-network
				grid-row: 2
				grid-column: 1
		&__additional
			grid-row: 3
			grid-column: 1
		&__categories
			grid-row: 4
			grid-column: 1
		&__legal
			grid-row: 5
			grid-column: 1
		&__contact
			&-details
				grid-row: 6
				grid-column: 1
			&-form
				grid-row: 7
				grid-column: 1
				width: 100%
		&__input
			flex-basis: 100%
		&__title
			&--inline
				margin: 0px 43px 0 0px;
@media (max-width: 570px) and (orientation: landscape)
	.modal
		&__overlay
		&__dialog
			top: 5%
			right: 10%
			bottom: 5%
			left: 10%
			transform: translate(0, 0)
			overflow-y: scroll
		&__title
			font-size: 14px
@media (max-width: 500px)
	.navbar
		&__search
			width: 300px
	.card
		&__title
			max-width: 140px
	.footer
		&__contact
				&-form
					width: 100%
	.modal
		&__overlay
		&__dialog
			top: 5%
			right: 5%
			left: 5%
			width: 90%
			max-height: 90%
			transform: translate(0, 0)
			overflow-y: scroll
		&__title
			font-size: 14px
@media (max-width: 450px)	
	.card
		height: auto
		&__button
			font-size: 10px
	.phone-span
		display: block
	.modal
		&__dialog
			width: 90%
			padding: 0 25px
		&__form
			width: 240px
@media (max-width: 320px)
	.container
		max-width: 280px
		margin: auto
	.navbar
		&__search
			width: 245px
			margin-bottom: 17px
		&-top
			padding-top: 28px
			padding-bottom: 28px
		&-menu
			padding-top: 0
			&__item
				margin-bottom: 18px
	.user
		&__name
			padding-bottom: 7px
	.logo
		height: 14px
	.hotel
		&-info
			&__name
				margin-top: 10px !important
			&__offer
				margin-top: 0
		&-wrapper
			align-items: center
	.slider
		height: 179px
		width: 279px
	.swiper-container
		height: 100%
	.map
		height: 172px
	.booking
		margin-bottom: 20px
	.newsletter
		&-wrapper
			width: 280px
		&-title
			font-size: 20px
			&__strong
				font-size: 30px
	.subscribe
		width: 100%
		&__input
			padding-left: 20px
	.reviews
		margin-bottom: 50px
		&__title
			font-size: 18px
			line-height: 23px
			margin-bottom: 42px
			width: 245px
		&-slider
			&__text
				text-align: left
			&__item
				padding-bottom: 36px
	.activities
		&__title
			margin-bottom: 36px
			font-size: 18px
			line-height: 23px
	.card
		width: 280px
		height: 255px
		&:nth-child(1)
			order: 0
			.card
				&__title
					width: 145px
		&:nth-child(2)
			order: 2
			.card
				&__title
					width: 150px
		&:nth-child(3)
			order: 1
			.card
				&__title
					width: 160px
		&:nth-child(4)
			order: 3
			.card
				&__title
					width: 200px
		&__title
			max-width: 200px
		&__button
			font-size: 12px
	.footer
		padding-bottom: 21px
		&__message
			margin-bottom: 0
		&-wrapper
			grid-row-gap: 35px
			margin-bottom: 30px
		&__contact
			&-details
				margin-top: 0
			&-form
				flex-direction: column
				width: 280px
		&__input
			order: -1
		&__info
			order: 0
			flex-basis: 100%
			margin-bottom: 15px
		&__button
			order: 1
		&__disclaimer
			flex-wrap: wrap
			margin-bottom: 30px
			margin-left: 21px
			&-links
				display: flex
				justify-content: space-between
				margin-bottom: 10px
			&-image
				width: 136px
				height: 22px
		&__logo
			height: 108px
			margin-top: 0px
		&__social
			&-network
				margin-top: 0
				display: flex
				flex-direction: column
			&-links
				display: block
		&__legal
			grid-row: 3
		&__additional
			grid-row: 4
		&__categories
			grid-row: 5
		&__title
			&--inline
				margin-left: 0
			&--mb-3
				margin-bottom: 35px
			&--mb-37
				margin-bottom: 6px